body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:30px;
  width:1000px;
  height:170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:56px;
  width:996px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:30px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:810px;
  top:7px;
  width:90px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:32px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:30px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:0px;
  top:200px;
  width:169px;
  height:170px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:170px;
}
#u11 {
  position:absolute;
  left:2px;
  top:77px;
  width:165px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:-10px;
  top:672px;
  width:1000px;
  height:90px;
  font-size:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:380px;
  width:169px;
  height:30px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:0px;
  top:430px;
  width:169px;
  height:30px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:0px;
  top:480px;
  width:169px;
  height:30px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:0px;
  top:530px;
  width:169px;
  height:30px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:0px;
  top:580px;
  width:169px;
  height:30px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:232px;
  top:224px;
  width:61px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:212px;
  top:272px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:252px;
  top:326px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:309px;
  top:224px;
  width:141px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:309px;
  top:272px;
  width:79px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:300px;
  top:326px;
  width:590px;
  height:194px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:194px;
}
#u30 {
  position:absolute;
  left:2px;
  top:89px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:192px;
  top:546px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:300px;
  top:545px;
  width:590px;
  height:65px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:65px;
}
#u34 {
  position:absolute;
  left:2px;
  top:24px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:500px;
  top:620px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
