body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:179px;
  top:260px;
  width:776px;
  height:216px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:126px;
  top:0px;
  width:126px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:252px;
  top:0px;
  width:126px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:378px;
  top:0px;
  width:126px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:504px;
  top:0px;
  width:267px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:263px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:126px;
  height:46px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:46px;
}
#u12 {
  position:absolute;
  left:2px;
  top:15px;
  width:122px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:126px;
  top:30px;
  width:126px;
  height:46px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:46px;
}
#u14 {
  position:absolute;
  left:2px;
  top:15px;
  width:122px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:252px;
  top:30px;
  width:126px;
  height:46px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:46px;
}
#u16 {
  position:absolute;
  left:2px;
  top:15px;
  width:122px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:378px;
  top:30px;
  width:126px;
  height:46px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:46px;
}
#u18 {
  position:absolute;
  left:2px;
  top:15px;
  width:122px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:504px;
  top:30px;
  width:267px;
  height:46px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:46px;
}
#u20 {
  position:absolute;
  left:2px;
  top:15px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:76px;
  width:126px;
  height:45px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:126px;
  top:76px;
  width:126px;
  height:45px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:252px;
  top:76px;
  width:126px;
  height:45px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:378px;
  top:76px;
  width:126px;
  height:45px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:504px;
  top:76px;
  width:267px;
  height:45px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:45px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:121px;
  width:126px;
  height:45px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:126px;
  top:121px;
  width:126px;
  height:45px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:252px;
  top:121px;
  width:126px;
  height:45px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:378px;
  top:121px;
  width:126px;
  height:45px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:504px;
  top:121px;
  width:267px;
  height:45px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:45px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:166px;
  width:126px;
  height:45px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:126px;
  top:166px;
  width:126px;
  height:45px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:252px;
  top:166px;
  width:126px;
  height:45px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:378px;
  top:166px;
  width:126px;
  height:45px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:504px;
  top:166px;
  width:267px;
  height:45px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:45px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:760px;
  top:300px;
  width:100px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:820px;
  top:345px;
  width:100px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:710px;
  top:390px;
  width:100px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:820px;
  top:390px;
  width:100px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:760px;
  top:434px;
  width:100px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:179px;
  top:220px;
  width:121px;
  height:16px;
}
#u57 {
  position:absolute;
  left:16px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u56_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u58 {
  position:absolute;
  left:325px;
  top:220px;
  width:100px;
  height:16px;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:360px;
  top:530px;
  width:100px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:540px;
  top:530px;
  width:100px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:484px;
  top:534px;
  width:36px;
  height:16px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:30px;
  width:1000px;
  height:170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:170px;
}
#u65 {
  position:absolute;
  left:2px;
  top:56px;
  width:996px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:30px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:810px;
  top:7px;
  width:90px;
  height:23px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:32px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u73 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:30px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u74 {
  position:absolute;
  left:0px;
  top:200px;
  width:169px;
  height:170px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:170px;
}
#u75 {
  position:absolute;
  left:2px;
  top:77px;
  width:165px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:-10px;
  top:632px;
  width:1000px;
  height:90px;
  font-size:48px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u77 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:380px;
  width:169px;
  height:30px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u79 {
  position:absolute;
  left:0px;
  top:430px;
  width:169px;
  height:30px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u80 {
  position:absolute;
  left:0px;
  top:480px;
  width:169px;
  height:30px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u81 {
  position:absolute;
  left:0px;
  top:530px;
  width:169px;
  height:30px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82 {
  position:absolute;
  left:0px;
  top:580px;
  width:169px;
  height:30px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83 {
  position:absolute;
  left:710px;
  top:345px;
  width:100px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
