body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:179px;
  top:260px;
  width:726px;
  height:216px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:212px;
  top:0px;
  width:254px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:250px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:466px;
  top:0px;
  width:255px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:251px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:212px;
  height:46px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:46px;
}
#u8 {
  position:absolute;
  left:2px;
  top:15px;
  width:208px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:212px;
  top:30px;
  width:254px;
  height:46px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:46px;
}
#u10 {
  position:absolute;
  left:2px;
  top:15px;
  width:250px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:466px;
  top:30px;
  width:255px;
  height:46px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:46px;
}
#u12 {
  position:absolute;
  left:2px;
  top:15px;
  width:251px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:76px;
  width:212px;
  height:45px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:45px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:212px;
  top:76px;
  width:254px;
  height:45px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:45px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:466px;
  top:76px;
  width:255px;
  height:45px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:45px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:121px;
  width:212px;
  height:45px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:45px;
}
#u20 {
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:212px;
  top:121px;
  width:254px;
  height:45px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:466px;
  top:121px;
  width:255px;
  height:45px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:45px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:166px;
  width:212px;
  height:45px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:45px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:212px;
  top:166px;
  width:254px;
  height:45px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:45px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:466px;
  top:166px;
  width:255px;
  height:45px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:45px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:360px;
  top:530px;
  width:100px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:540px;
  top:530px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:484px;
  top:534px;
  width:36px;
  height:16px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:30px;
  width:1000px;
  height:170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:170px;
}
#u36 {
  position:absolute;
  left:2px;
  top:56px;
  width:996px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:30px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:810px;
  top:7px;
  width:90px;
  height:23px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:32px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:30px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45 {
  position:absolute;
  left:0px;
  top:200px;
  width:169px;
  height:170px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:170px;
}
#u46 {
  position:absolute;
  left:2px;
  top:77px;
  width:165px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:-10px;
  top:632px;
  width:1000px;
  height:90px;
  font-size:48px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:380px;
  width:169px;
  height:30px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:0px;
  top:430px;
  width:169px;
  height:30px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:0px;
  top:480px;
  width:169px;
  height:30px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:0px;
  top:530px;
  width:169px;
  height:30px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:0px;
  top:580px;
  width:169px;
  height:30px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
