body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:179px;
  top:210px;
  width:701px;
  height:372px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:372px;
}
#u1 {
  position:absolute;
  left:2px;
  top:178px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:210px;
  top:244px;
  width:65px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:216px;
  top:299px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:215px;
  top:332px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:218px;
  top:393px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:214px;
  top:428px;
  width:27px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:285px;
  top:290px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:287px;
  top:325px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:287px;
  top:393px;
  width:100px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:354px;
  top:393px;
  width:100px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:284px;
  top:419px;
  width:62px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19 {
  position:absolute;
  left:360px;
  top:419px;
  width:40px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20 {
  position:absolute;
  left:412px;
  top:419px;
  width:50px;
  height:22px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21 {
  position:absolute;
  left:289px;
  top:358px;
  width:200px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:216px;
  top:364px;
  width:66px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:218px;
  top:504px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:288px;
  top:501px;
  width:200px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:744px;
  top:248px;
  width:40px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:781px;
  top:248px;
  width:53px;
  height:16px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:474px;
  top:423px;
  width:120px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:506px;
  top:305px;
  width:256px;
  height:28px;
  font-size:11px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:294px;
  top:248px;
  width:53px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:205px;
  top:269px;
  width:645px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:628px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:645px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:30px;
  width:1000px;
  height:170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:170px;
}
#u39 {
  position:absolute;
  left:2px;
  top:56px;
  width:996px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u43 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:30px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44 {
  position:absolute;
  left:810px;
  top:7px;
  width:90px;
  height:23px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:32px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:30px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:0px;
  top:200px;
  width:169px;
  height:170px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:170px;
}
#u49 {
  position:absolute;
  left:2px;
  top:77px;
  width:165px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:-10px;
  top:632px;
  width:1000px;
  height:90px;
  font-size:48px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u51 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:380px;
  width:169px;
  height:30px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:0px;
  top:410px;
  width:169px;
  height:30px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:0px;
  top:440px;
  width:169px;
  height:30px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:0px;
  top:470px;
  width:169px;
  height:30px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:0px;
  top:500px;
  width:169px;
  height:30px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:781px;
  top:210px;
  width:100px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u58 {
  position:absolute;
  left:218px;
  top:464px;
  width:27px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:530px;
  width:169px;
  height:30px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:0px;
  top:560px;
  width:169px;
  height:30px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
